* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 1rem;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}

h1 {
    font-weight: 800;
    font-size: 1.5rem;
}

.sidebar {
    text-align: left;
}

.lightModecss {
    background-color: rgb(155, 104, 9);
    color: white;
    margin: 1px;
}

.darkModecss {
    background-color: rgb(88, 0, 139);
    color: white;
    margin: 1px;
}